---
layout: default
---

{% include slider.html %}
{% include news-slider.html %}


<!-- ******CONTENT****** -->
<div class="content container">

  <!-- grid content -->
  <div class="row cols-wrapper">
      <div class="col-md-12">
          <section>
            <div class="section-content">
              <h3>Upcoming Conference in Rome on November 24-25</h3>
              <img style='height: 100%; width: 100%; object-fit: contain' src="assets/images/Conf_PosterEdited_1.png" alt=""/>
            </div>
          </section>
        </div>
    
    <div class="col-md-4">
    {% include events.html %}
    </div>
    <div class="col-md-8">
      {% include testimonials.html %}
    </div>
    <div class="col-md-12">
        <section>
          <div class="section-content">
            <iframe width="760px" height="500px" src="https://sway.com/s/57gWqtD9bgU7uKYk/embed" frameborder="0" marginheight="0" marginwidth="0" max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts" scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen></iframe>
          </div>
        </section>
      </div>
      
  </div>
</div><!--//content-->
