<!-- ******HEADER****** -->
<header class="header">
  <!-- top bar -->
  <!-- <div class="top-bar">
    <div class="container">
      <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
        <li><a href="index.html#" ><i class="fa fa-twitter"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-facebook"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-youtube"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-linkedin"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-google-plus"></i></a></li>
        <li class="row-end"><a href="index.html#" ><i class="fa fa-rss"></i></a></li>
      </ul>
      <form class="pull-right search-form" role="search">
        <div class="form-group" id="cse">
          <input type="text" class="form-control" placeholder="Search the site...">
        </div>
        <button type="submit" id="search-go-btn" class="btn btn-theme">Search</button>
      </form>
    </div>
  </div> -->

  <div class="header-main container">
    <h1 class="logo" aria-label="Bhaktivedanta Institute">
      <a href="/"><img id="logo" width="200" src="{{base}}/assets/images/biglogo-2.png" alt="Logo"></a>
    </h1>
    {% include nav.html %}
    <!-- <h3>Promoting the Synthesis of Science and Spirituality since 1974</h3> -->
  </div>

</header>
