---
layout: default
---
<!-- ******CONTENT****** -->
<div class="content container">
  <div class="page-wrapper">
    <header class="page-heading clearfix">
      <h1 class="heading-title pull-left">Events</h1>
    </header>
    <div class="page-content md">
      <div class="row page-row">
        <div class="md-content col-md-8 col-sm-7">
        <h3 class="title">{{page.title}}</h3>
        {{ content }}
        </div>
        <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
          <section class="widget has-divider">
            {% for special in page.specials %}
              <blockquote>
                <p>{{special.quote}}</p>
                <p class="author">- {{special.author}}</p>
              </blockquote>
            {% endfor %}
            <a class="btn btn-theme" href="#">Find out more</a>
          </section><!--//widget-->
        </aside>

      </div>
    </div><!--//page-content-->
  </div><!--//page-->
</div><!--//content-->
