---
layout: default
---

<!-- ******CONTENT****** -->
<div class="content container">

  <div class="page-wrapper">
    <header class="page-heading clearfix">
      <h1 class="heading-title pull-left">Savijñānam</h1>
      <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
          <li class="breadcrumbs-label">You are here:</li>
          <li><a href="../index.html">Home</a><i class="fa fa-angle-right"></i></li>
          <li><a href="../journal.html">Journal</a><i class="fa fa-angle-right"></i></li>
          <li class="current">{{page.title}}</li>
        </ul>
      </div><!--//breadcrumbs-->
    </header>
    <div class="page-content journal">
      <div class="row page-row">
        <div class="col-md-3 col-sm-4">
          <div id="accordion">
            <div class="issue-links-container custom-list">
              <h4>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1"> <strong>Browse</strong> Issues </a>
              </h4>
              <div id="collapse-1" class="collapse in">
                <ul class="issue-links-list">
                {% for issue in site.journal %}
                  <li> <a href="{{base}}/journal/{{issue.link}}">{{issue.title}}</a> </li>
                {% endfor %}
                  <li> <a href="{{base}}/journal.html">All Issues</a> </li>
                </ul>
              </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="excerpts-container custom-list">
              <h4>
                <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2"><strong>Articles</strong> &amp; Excerpts</a>
              </h4>
              <div id="collapse-2" class="collapse">
                <ul class="excerpts-list">
                  {% for excerpt in page.excerpts %}
                    <li> <a href="#{{excerpt.link}}">{{excerpt.title}}</a> </li>
                  {% endfor %}
                </ul>
              </div><!--//panel-colapse-->
            </div><!--//panel-->
          </div><!--//panel-group-->
        </div>
        <div class="col-md-9 col-sm-8">
          <div class="journal-content">
            <img class="img-responsive journal-image" src="../assets/images/journal/{{page.link}}.png" alt="{{issue.title}}" />
            {{content}}
          </div>
        </div>
      </div>
    </div><!--//page-content-->
  </div><!--//page-->

</div><!--//content-->
